<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre articulo:</strong>
  <%= @articulo.nombre_articulo %>
</p>



<%= link_to 'Edit', edit_marca_articulo_path(@marca, @articulo) %> |
<%= link_to 'Back', marca_articulos_path %>
