


<div class="well">
    <div class="Sign_Form">
    <%=form_tag(sesiones_path) do%>
        <div class="form-group">
            <label for="Usuario">

                Usuario

            </label>      
     		<%=text_field_tag(:user, nil, placeholder: "Usuario", class: 'form-control', width: "50%") %>
        </div>
        <div class="form-group">
            <label for="contra">

                Contrasena

            </label>
            <%=password_field_tag(:contra, nil, placeholder: "Contrasena", class: 'form-control', width: "50%")%>
        </div>
        
            <label>
                <input type="checkbox"></input>

                 Check me out
                        

            </label>
        </div>
        
        	<%=submit_tag "iniciar sesion" %>

        
    <%end%>
    </div>
</div>


