<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre marca:</strong>
  <%= @marca.nombre_marca %>
</p>

<%= link_to 'Edit', edit_administrador_marca_path(@marca) %> |
<%= link_to 'Back', administrador_marcas_path %>
