<h1>Editing referencia_articulo</h1>

<%= render 'form' %>

<%= link_to 'Show', edit_articulo_referencia_articulo_path(@articulo, @referencia_articulo) %> |
<%= link_to 'Back', articulo_referencia_articulos_path %>
